@charset "UTF-8";

#policy_index_explanation {
  color: #f9423a;
  font-weight: 500;
  font-size: 1.3em;
}

label {
  margin-left: 3px;
}
.x_axis .tick line {
  opacity: 0.3;
}

.x_axis .tick text {
  font-size: 11px;
}

.y_axis {
  font-size: 13px;
}

.tick line {
  stroke: #d2d3d4;
  stroke-dasharray: 4px 2px;
}

.states,
.country {
  opacity: 0.75;
  stroke-width: 1.25;
}

.chart {
  text-align: left;
}

.listening-rect {
  fill: transparent;
  z-index: 0;
}

/* #wrapper_policy_main,
#wrapper_mobility_main,
#wrapper_facemask_main,
#wrapper_testrate_main,
#wrapper_positivity_main, */
.lenny_chart_wrapper {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

#wrapper_policy_main .domain,
#wrapper_mobility_main .domain,
#wrapper_facemask_main .domain,
#wrapper_testrate_main .domain,
#wrapper_positivity_main .domain {
  display: none;
}

#state_wrapper_policy,
#state_wrapper_mobility,
#state_wrapper_facemask,
#state_wrapper_testrate,
#state_wrapper_positivity {
  height: 520px;
  overflow: hidden;
  overflow-y: scroll;
}

#state_list_policy,
#state_list_mobility,
#state_list_facemask,
#state_list_testrate,
#state_list_positivity {
  list-style: none;
  margin-top: 20px;
}

#state_container_policy,
#state_container_mobility,
#state_container_facemask,
#state_container_testrate,
#state_container_positivity {
  background-color: #f2f2f2;
  height: 550px;
}

/* #tooltip_policy,
#tooltip_mobility,
#tooltip_facemask,
#tooltip_testrate,
#tooltip_positivity, */
.lenny_chart_tooltip {
  position: absolute;
  padding: 7px;
  background-color: white;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
}

/* #tooltipHeader_policy,
#tooltipHeader_mobility,
#tooltipHeader_facemask,
#tooltipHeader_testrate,
#tooltipHeader_positivity, */
.lenny_tooltipHeader {
  font-size: 1.5em;
}

/* #tooltipContent_policy .tooltip_value,
#tooltipContent_mobility .tooltip_value,
#tooltipContent_facemask .tooltip_value,
#tooltipContent_testrate .tooltip_value,
#tooltipContent_positivity .tooltip_value, */
.tooltip_value {
  padding-left: 30px;
  text-align: right;
}
