.chart {
  text-align: left;
}
#wrapper_facemask_main {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
#wrapper_facemask_main .domain {
  display: none;
}

.y_axis {
  font-size: 13px;
}

.tick line {
  stroke: #d2d3d4;
  stroke-dasharray: 4px 2px;
}

.x_axis .tick text {
  font-size: 11px;
}

#state_wrapper_facemask {
  height: 520px;
  overflow: hidden;
  overflow-y: scroll;
}

#state_list_facemask {
  list-style: none;
  margin-top: 20px;
}

#state_container_facemask {
  background-color: #f2f2f2;
  height: 550px;
}

.listening-rect {
  fill: transparent;
  z-index: 0;
}

#tooltip_facemask {
  position: absolute;
  padding: 7px;
  background-color: white;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
}

#tooltipHeader_facemask {
  font-weight: bold;
  font-size: 1.5em;
}

#tooltipContent_facemask .tooltip_state {
  font-weight: 700;
}
#tooltipContent_facemask .tooltip_value {
  padding-left: 30px;
  font-weight: 700;
  text-align: right;
}
